@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
  overflow: hidden;
  opacity: 0.2;
}

.calci {
  /* border: 1px solid cyan; */
  border-radius: 20px;
  position: relative;
  width: 340px;
  padding: 20px;
  box-shadow: -4px 4px 0 1px #dedede, 1px 0 28px 0 rgba(34, 33, 81, 0.01),
    -28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
  transform: perspective(55em) rotateX(50deg) rotateY(0deg) rotateZ(-40deg);
  transform-style: preserve-3d;
  transition: 0.2s ease-in-out transform, 0.2s ease-in-out box-shadow;
}
.calci:hover {
  transform: perspective(75em) rotateX(0);
  box-shadow: 0 0 0 0 #f9f9fb, 1px 0 28px 0 rgba(34, 33, 81, 0.01),
    -1px 1px 12px 0 rgba(34, 33, 81, 0.25);
  border-color: none;
}
.calci > .buttons {
  position: relative;
  display: grid;
}
.calci > .buttons > #result {
  position: relative;
  grid-column: span 4;
  user-select: none;
  overflow: hidden;
  width: 100%;
  text-align: end;
  color: rgb(72, 72, 72);
  height: 100px;
  line-height: 100px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 20px #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 2em;
  font-weight: bold;
  color: rgb(162, 0, 255);
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
}
.calci > .buttons > span {
  position: relative;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 20px #fff;
  margin: 11px;
  cursor: pointer;
  user-select: none;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #565b5b;
  border: 2px solid whitesmoke;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #fff;
  border-radius: 10px;
}
.calci > .buttons > span:active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 20px #fff;
  color: rgb(162, 0, 255);
  font-weight: bold;
  transition: ease-in 0.1s;
  border: 1px solid rgb(162, 0, 255);
}

.calci > .buttons > #cls {
  grid-column: span 2;
  background-color: rgb(251, 31, 104);
  color: white;
  border: 2px solid whitesmoke;
  font-weight: bold;
}
.calci > .buttons > #Add-opration {
  grid-row: span 2;
  background-color: rgb(119, 212, 243);
  color: white;
  border: 2px solid whitesmoke;
  font-weight: bold;
}
.calci > .buttons > #opreate {
  grid-row: span 2;
  background-color: rgb(81, 241, 188);
  color: white;
  font-weight: bold;
  border: 2px solid whitesmoke;
}
/* dark-theame */
#dark {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #565b5b;
  color: whitesmoke;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
  transition: ease-in 0.3s;
}
#dark::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 96.5%;
  background-color: rgb(202, 202, 202);
  height: 50px;
  width: 2px;
  z-index: -1;
}
#dark > icon {
  margin: 6px;
  user-select: none;
}
.dark-thm > #dark {
  background-color: whitesmoke;
  color: #121212;
}
/* body-dark */
.dark-thm {
  background-color: #33393e !important;
}
.dark-thm > .calci {
  background-color: #33393e;
  /* box-shadow: 15px 15px 20px rgba(0,0,0,0.25),
                -15px -15px 20px rgba(255,255,255,0.1); */
  box-shadow: -4px 4px 0 1px rgba(124, 124, 124, 0.25),
    1px 0 28px 0 rgba(0, 0, 0, 0.2), -28px 28px 28px 0 rgba(0, 0, 0, 0.25);
}
.dark-thm > .calci:hover {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25),
    -15px -15px 20px rgba(0, 0, 0, 0.1);
}
.dark-thm > .calci > .buttons > #result {
  background-color: #33393e;
  box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.25),
    inset -15px -15px 20px rgba(0, 0, 0, 0.1);
}
.dark-thm > .calci > .buttons > span {
  color: #eee;
  border: 1px solid #33393e;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
    -5px -5px 10px rgba(255, 255, 255, 0.1);
}
.dark-thm > .calci > .buttons > span:active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 20px #33393e;
  color: rgb(204, 116, 255);
  font-weight: bold;
  transition: ease-in 0.1s;
  border: 1px solid rgb(117, 1, 184);
}
.dark-thm > .calci > .buttons > #opreate,
.dark-thm > .calci > .buttons > #cls,
.dark-thm > .calci > .buttons > #Add-opration {
  border: 2px solid #33393e !important;
  user-select: none;
}
/* footer */
footer {
  position: fixed;
  top: 95%;
  left: 0px;
  color: rgb(126, 126, 126);
  font-size: 15px;
  opacity: 0.6;
  left: 50%;
}
footer > a {
  text-decoration: none;
  color: inherit;
}
